input:not([type="checkbox"]) {
    display: block;
    width: 70%;
}

div.sec {
    display: none;
}

body.sec > div.sec {
    display: block;
}
body.sec > div.r {
    display: none;
}
body.sec {
    background-color: #ff0f0f;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

body.sec img {
    float: left;
    width: 33%;
    height: auto;
    margin-right: 16px;
}

body .sec {
    width: 100%;
    max-width: 760px;
    margin: auto;
    line-height: normal;
}

#c {
    color: #ff0000;
}

#c:disabled {
    color: #747474;
}